doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Test-ST (ES5)

    include src/includes/products.pug
    
    style
      include src/assets/style.css

  body
    main
      each date in arr_result
        section.receipt
          div.receipt-container
            div.receipt-headers
              div.icon-arrow
              h3= date.dateValue
              h3 Документов: #{date.dateArr.length + " (" + (toFormatPrice(date.sum))} ₽)

            div.receipt-wrapper
              each id in date.dateArr.sort(function(a, b) {return a.idValue - b.idValue})
                div.receipt-item
                  div.receipt-item__header
                    p Приход №#{id.idValue} 
                    p #{toFormatPrice(id.idArr.reduce(function(a, b) { return a + Number(b.price * b.quantity)}, 0))} ₽
                  
                  div.receipt-item__prods
                    a
                      span Товаров: #{id.idArr.length}
                    div(class='receipt-item__prods_card', hidden)
                      each item in id.idArr
                        div.item-wrapper
                          div.img-wrapper
                            img(src=item.image, alt="")
                          
                          div.info-wrapper
                            p= item.name

                            div.price-wrapper
                              p 
                                span= item.quantity + ' штук х ' + Math.ceil(item.price) + ' ₽'
                              p
                                span= Math.ceil(item.price * item.quantity).toLocaleString().replace(',', ' ') + ' ₽'
    script
      include src/scripts/main.js